<div class="tasks">
    <app-add-task (onAddTask)="addTask($event)"></app-add-task>
    <h2 *ngIf="tasks.length == 0">{{messageEmpty}}</h2>
    <h4>{{message}}</h4>
    <!-- <button (click)="callApi()" type="button" class="btn btn-primary">
    Get Public Message
</button>
<button (click)="callSecureApi()" type="button" class="btn btn-primary">
    Get Protected Message
</button> -->

    <!-- # loop over tasks and pass each task into the task-item component -->
    <app-task-item *ngFor="let task of tasks" [task]="task" (onDeleteTask)="deleteTask(task)"
        (onToggleReminder)="toggleReminder(task)"></app-task-item>
    <app-footer></app-footer>
</div>